Babel==2.6.0
coverage==4.5.1
Flask==1.1.2
Flask-Cors==3.0.9
monotonic==1.5
pysftp==0.2.9
-e git+https://github.com/Amsterdam/GOB-Core.git@v0.17.11y#egg=gobcore
-e git+https://github.com/Amsterdam/GOB-Config.git@v0.4.12b#egg=gobconfig
pytest
pytest-cov
flake8
pycodestyle
freezegun
